.gallery {
    margin: 0;
    padding: 16px 0;
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center; 
}

.galleryItem {
    list-style: none;
    width: 250px;
    height: 250px;
    cursor: pointer;
    position: relative;

    &::after {
        transition: opacity 300ms linear;
        content: '';
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgb(0 0 0 / 31%);
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='1280.000000pt' height='1170.000000pt' viewBox='0 0 1280.000000 1170.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cmetadata%3E%0ACreated by potrace 1.15, written by Peter Selinger 2001-2017%0A%3C/metadata%3E%3Cg transform='translate(0.000000,1170.000000) scale(0.100000,-0.100000)'%0Afill='%23fff' stroke='none'%3E%3Cpath d='M4410 11694 c-25 -2 -101 -8 -170 -14 -1172 -101 -2251 -603 -3040%0A-1416 -328 -338 -575 -684 -775 -1087 -562 -1129 -565 -2421 -9 -3553 516%0A-1051 1483 -1880 2654 -2276 581 -197 1171 -280 1808 -256 1438 54 2770 730%0A3618 1838 450 587 723 1259 820 2015 26 198 26 692 1 890 -86 678 -299 1253%0A-671 1810 -259 389 -630 780 -1018 1073 -719 542 -1537 860 -2463 957 -140 15%0A-653 28 -755 19z m550 -1284 c586 -50 1148 -243 1615 -555 192 -128 311 -223%0A465 -371 444 -428 731 -934 854 -1504 44 -204 59 -349 60 -580 0 -227 -10%0A-343 -50 -545 -246 -1259 -1345 -2251 -2719 -2454 -183 -27 -288 -34 -510 -35%0A-317 0 -554 28 -846 100 -1170 287 -2088 1160 -2359 2244 -62 250 -83 419 -82%0A685 0 525 137 1013 408 1461 531 877 1492 1457 2572 1553 129 12 461 12 592 1z'/%3E%3Cpath d='M8874 4562 c-261 -356 -702 -760 -1061 -972 -40 -23 -73 -46 -73 -50%0A0 -5 467 -435 1038 -956 570 -521 1439 -1315 1930 -1763 491 -449 896 -817%0A901 -819 10 -4 1193 1078 1189 1088 -2 6 -3749 3430 -3854 3522 -20 17 -22 16%0A-70 -50z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &:hover {

        &::after {
            opacity: 1;
        }

    }

    @media screen and (max-width: 992px) {
        width: 200px;
        height: 200px;
    }

    @media screen and (max-width: 576px) {
        width: 150px;
        height: 150px;
    }

}
